<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Book Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#03a6f3">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
<header th:fragment="header">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <th:block th:if="${user==null}">
                    <div class="col-md-3"></div>
                    <div class="col-md-6"></div>
                    <div class="col-md-3">
                        <a th:href="@{/admin/login}">
                            <span class="ph-number">Đăng nhập/Đăng ký</span>
                        </a>
                    </div>
                </th:block>
                <th:block th:if="${user!=null}">
                    <div class="col-md-3">
                        <a th:href="@{/admin}">
                            <span class="ph-number" th:text="${user.role + ': ' + user.email}"></span>
                        </a>
                    </div>
                    <div class="col-md-6"></div>
                    <div class="col-md-3">
                        <a th:href="@{/logout}">
                            <span class="ph-number">Đăng xuất</span>
                        </a>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
    <div class="main-menu">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" th:href="@{/}"><img src="images/logo.png" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="navbar-item active">
                            <a th:href="@{/}" class="nav-link">Trang chủ</a>
                        </li>
                        <li class="navbar-item">
                            <a th:href="@{/shop}" class="nav-link">Sách</a>
                        </li>
                        <li class="navbar-item">
                            <a th:href="@{/account}" class="nav-link">Tài khoản</a>
                        </li>
                    </ul>
                    <div class="cart my-2 my-lg-0">
                        <a th:href="${'/cart'}">
                            <span>
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            </span>
                        </a>
                    </div>
                    <form class="form-inline my-2 my-lg-0" th:action="@{/search}" method="get">
                        <input class="form-control mr-sm-2" name="keyword" th:value="*{keyword}" type="search" placeholder="Search here..."
                               aria-label="Search">
                        <span class="fa fa-search"></span>
                    </form>
                </div>
            </nav>
        </div>
    </div>
</header>
</body>

</html>