<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragment/header_admin :: head}"></head>

<body class="sticky-header left-side-collapsed" onload="initMap()">
<div th:replace="~{/fragment/header_admin :: header}"></div>
<section>
    <div class="main-content">
        <div id="page-wrapper">
            <div class="graphs">
                <h3 class="blank1">Quản lý đơn hàng</h3>
                <div class="xs tabls">
                    <div class="bs-example4" data-example-id="contextual-table">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Mã đơn hàng</th>
                                <th>Ngày tạo</th>
                                <th>Tổng tiền</th>
                                <th>Khách hàng</th>
                                <th>Xem chi tiết</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="active" th:each="cart : ${carts}" th:data-id="${cart.id}">
                                <td th:text="${cart.id}"></td>
                                <td th:text="${cart.createdDate}"></td>
                                <td th:text="${#numbers.formatDecimal(cart.totalMoney, 0, 'COMMA', 0, 'POINT') + ' ₫'}"></td>
                                <td th:text="${cart.getUser().getName()}"></td>
                                <th>
                                    <a th:href="@{/admin/orderDetail?(id=${cart.id})}">
                                        <button type="button" class="btn btn-xs btn-danger">Xem chi tiết</button>
                                    </a>
                                </th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <nav th:if="${carts.size()>0}">
                <ul class="pagination pagination-lg">
                    <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                        <li th:if="${page.number == i}" aria-current="page">
                            <a class="page-link" th:text="${i+1}"></a>
                        </li>
                        <li class="page-item" th:unless="${page.number == i}">
                            <!--                            <a class="page-link" th:text="${i+1}" th:href="@{''(page=${i})}"></a>-->
                            <a class="page-link" th:text="${i+1}" th:href="@{''(
                                                                                   page=${i},
                                                                                   size= ${param.size},
                                                                                   )}">

                            </a>
                        </li>
                    </th:block>
                </ul>
            </nav>
        </div>
    </div>
</section>
<footer th:replace="~{/fragment/header_admin :: footer}"></footer>
<script src="admin/js/jquery.nicescroll.js"></script>
<script src="admin/js/scripts.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="admin/js/bootstrap.min.js"></script>
</body>
</html>