<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign In</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Easy Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <!-- Bootstrap Core CSS -->
    <link rel='stylesheet' type='text/css' href="css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel='stylesheet' type='text/css' href="css/style.css">
    <!-- Graph CSS -->
    <link rel="stylesheet" href="css/font-awesome.css">
    <!-- jQuery -->
    <!-- lined-icons -->
    <link rel="stylesheet" type='text/css' href="css/icon-font.min.css">
    <!-- //lined-icons -->
    <!-- chart -->
    <script src="js/Chart.js"></script>
    <!-- //chart -->
    <!--animate-->
    <link rel="stylesheet" type="text/css" media="all" href="css/animate.css">
    <script src="js/wow.min.js"></script>
    <script>
		 new WOW().init();

    </script>
    <!--//end-animate-->
    <!----webfonts--->
    <link href='http://fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic'
          rel='stylesheet' type='text/css'>
    <!---//webfonts--->
    <!-- Meters graphs -->
    <script src="js/jquery-1.10.2.min.js"></script>
    <!-- Placed js at the end of the document so the pages load faster -->

</head>

<body class="sign-in-up">
<section>
    <div id="page-wrapper" class="sign-in-wrapper">
        <div class="graphs">
            <div class="sign-in-form">
                <div class="sign-in-form-top">
                    <a th:href="@{/}"><p>BookStore</p></a>
                </div>
                <div class="signin">
                    <div for="femail" class="sign-u">
                        <div class="sign-up1">
                            <h4>Email* :</h4>
                        </div>
                        <div class="sign-up2">
                            <form>
                                <input type="text" id="femail" placeholder=" " required=""/>
                            </form>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div for="fpass" class="sign-u">
                        <div class="sign-up1">
                            <h4>Password* :</h4>
                        </div>
                        <div class="sign-up2">
                            <form>
                                <input type="password" id="fpass" placeholder=" " required=""/>
                            </form>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <input id="btn-submit" type="submit" value="Đăng nhập">
                </div>
                <div class="new_people">
                    <a th:href="@{/admin/register}">Đăng ký nếu chưa có tài khoản!</a>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="~{/fragment/header_admin :: footer}"></footer>
<script src="js/jquery.nicescroll.js"></script>
<script src="js/scripts.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.9.0/sweetalert2.all.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $("#btn-submit").on("click",function (){
        if($('#femail').val().trim() === '' || $('#fpass').val().trim() === '') {
            swal('Không được để trống thông tin');
            return;
        }

        if (!isEmailValid($('#femail').val().trim())) {
            swal('Email không đúng định dạng');
            return;
        }

        var data = {
            email: $('#femail').val().trim(),
            password: $('#fpass').val().trim()
        }
        axios.post("/users/login", data).then(function(res){
            NProgress.done();
            if(res.data.success) {
                swal(res.data.message);
                setTimeout(() => location.replace("/"), 100);
            } else {
                swal(res.data.message);
            }
        }, function(err){
            NProgress.done();
            swal('Đã xảy ra lỗi');
        })
    });

    function isEmailValid(email) {
        var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        return regex.test(email);
    }
});
</script>
</body>
</html>