<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragment/header_admin :: head}"></head>

<body class="sticky-header left-side-collapsed" onload="initMap()">
<div th:replace="~{/fragment/header_admin :: header}"></div>
<section>
    <div class="main-content main-content3">
        <div id="page-wrapper">
            <div class="graphs">
                <h3 class="blank1">Quản lý tài khoản</h3>
            </div>
        </div>
    </div>
</section>
<footer th:replace="~{/fragment/header_admin :: footer}"></footer>
<script src="admin/js/jquery.nicescroll.js"></script>
<script src="admin/js/scripts.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="admin/js/bootstrap.min.js"></script>
</body>
</html>