<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#03a6f3">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
<div th:replace="~{/fragment/header :: header}"></div>
<div class="breadcrumb">
    <div class="container">
        <a th:href="@{/}" class="breadcrumb-item">Trang chủ</a>
        <span class="breadcrumb-item active">Tài khoản</span>
    </div>
</div>

<section class="product-sec">
    <th:block th:if="${user==null}">
        <div class="container">
            <h1>Bạn chưa đăng nhập</h1>
        </div>
    </th:block>
    <th:block th:if="${user!=null}">
        <div class="container">
            <h1>Lịch sử đặt hàng</h1>
            <div class="xs tabls">
                <div class="bs-example4" data-example-id="simple-responsive-table">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Mã đơn hàng</th>
                                <th>Ngày tạo</th>
                                <th>Tổng tiền</th>
                                <th>Xem chi tiết</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="active" th:each="cart : ${carts}" th:data-id="${cart.id}">
                                <td th:text="${cart.id}"></td>
                                <td th:text="${cart.createdDate}"></td>
                                <td th:text="${#numbers.formatDecimal(cart.totalMoney, 0, 'COMMA', 0, 'POINT') + '₫'}"></td>
                                <th>
                                    <a th:href="@{/orderDetail?(id=${cart.id})}">
                                        <button type="button" class="gray-btn">Xem chi tiết</button>
                                    </a>
                                </th>
                            </tr>
                            </tbody>
                        </table>
                    </div><!-- /.table-responsive -->
                </div>
            </div>

            <nav th:if="${carts.size()>0}">
                <ul class="pagination pagination-lg">
                    <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                        <li th:if="${page.number == i}" aria-current="page">
                            <a class="page-link" th:text="${i+1}"></a>
                        </li>
                        <li class="page-item" th:unless="${page.number == i}">
                            <a class="page-link" th:text="${i+1}" th:href="@{''(page=${i}, size= ${param.size},)}">
                            </a>
                        </li>
                    </th:block>
                </ul>
            </nav>
        </div>
    </th:block>
</section>
<div class="footer" th:replace="/fragment/footer :: footer"></div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/owl.carousel.min.js"></script>
<script src="js/custom.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.9.0/sweetalert2.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

    $(".change-amount").change(function () {
        dataCartProduct = {};
        dataCartProduct.id = $(this).attr("cartDetailId");
        dataCartProduct.amount = $(this).val();

        NProgress.start();
        var linkPut = "/cartDetail";
        axios.put(linkPut, dataCartProduct).then(function (res) {
            NProgress.done();
            if (res.data.success) {
                location.reload();
            } else {
                 location.reload();
            }
        }, function (err) {
            NProgress.done();
             location.reload();
        });
    });

    $(".delete-cartDetail").on("click", function () {
        var id = $(this).attr("cartDetailId");
        NProgress.start();
        var linkDelete = "/cartDetail/" + id;
        axios.delete(linkDelete).then(function (res) {
            NProgress.done();
            if (res.data.success) {
                location.reload();
            } else {
                location.reload();
            }
        }, function (err) {
            NProgress.done();
            location.reload();
        });
    })


});


</script>
</body>

</html>