<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Book Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#03a6f3">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
<div th:replace="~{/fragment/header :: header}"></div>
<section class="slider">
    <div class="container">
        <div class="item">
            <div class="slide">
                <img src="images/slide1.jpg" alt="slide1">
                <div class="content">
                    <div class="title">
                        <h3>Chào mừng bạn đến với bookstore.vn</h3>
                        <h5>Nơi có tất cả những cuốn sách mà bạn cần</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="recomended-sec">
    <div class="container">
        <div class="title">
            <h2>SÁCH MỚI NHẤT</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6" th:each="newBook : ${newBooks}">
            <div class="item">
                <img th:src="@{${newBook.image}}" alt="img" />
                <h3 th:text="${newBook.name}"></h3>
                <h6><span class="price" th:text="${#numbers.formatDecimal(newBook.getPrice(), 0, 'COMMA', 0, 'POINT') + ' ₫'}"></span></h6>
                <div class="hover">
                    <a th:href="${'/book/'+ newBook.id}">
                        <span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
                    </a>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>
<section class="recomended-sec">
    <div class="container">
        <div class="title">
            <h2>SÁCH NỔI BẬT</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6" th:each="book : ${books}">
                <div class="item">
                    <a th:href="${'/book/'+ book.id}"><img th:src="@{${book.image}}" alt="img" /></a>
                    <h3 th:text="${book.name}"></h3>
                    <h6><span class="price" th:text="${#numbers.formatDecimal(book.getPrice(), 0, 'COMMA', 0, 'POINT') + ' ₫'}"></span></h6>
                </div>
            </div>
        </div>
        <br>
        <div class="btn-sec">
            <a th:href="@{/shop}" class="btn gray-btn">Xem tất cả</a>
        </div>
    </div>
</section>
<section class="features-sec">
    <div class="container">
        <ul>
            <li>
                <span class="icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                <h3>MUA SẮM AN TOÀN</h3>
                <h5>Đảm bảo mua sắm an toàn</h5>
                <h6>Khách hàng được bảo vệ bằng các chính sách, điều khoản cụ thể của công ty chúng tôi</h6>
            </li>
            <li>
                <span class="icon return"><i class="fa fa-reply-all" aria-hidden="true"></i></span>
                <h3>ĐỔI TRẢ TRONG 30 NGÀY</h3>
                <h5>Đảm bảo hoàn lại tiền</h5>
                <h6>Với điều kiện sách vẫn đảm bảo chất lượng, bạn sẽ được hoàn đủ số tiền ban đầu</h6>
            </li>
            <li>
                <span class="icon chat"><i class="fa fa-comments" aria-hidden="true"></i></span>
                <h3>HỖ TRỢ 24/7</h3>
                <h5>Tư vấn trực tuyến</h5>
                <h6>Với đội ngũ tư vấn kinh nghiệm, đông đảo, sẵn sàng giải đáp mọi vấn đề của bạn</h6>
            </li>
        </ul>
    </div>
</section>
<div class="footer" th:replace="/fragment/footer :: footer"></div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/owl.carousel.min.js"></script>
<script src="js/custom.js"></script>
</body>

</html>